/* reset */
/*html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","微软雅黑","黑体",Arial,sans-serif;color:#333;outline:0;}*/
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{-webkit-font-smoothing:antialiased;line-height:1.6}
input,textarea,button,a{outline:0}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,fieldset,textarea{margin:0}
fieldset,legend,textarea,input{padding:0}
ul,ol{padding-left:0;list-style-type:none}
a img,fieldset{border:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,video{display:inline-block}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
svg:not(:root){overflow:hidden}
figure{margin:0}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button}
button[disabled],html input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="search"]{box-sizing:content-box;-moz-box-sizing:content-box;-webkit-appearance:textfield;-webkit-box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top;resize:none}
select{border-radius:0;-webkit-border-radius:0}
body{line-height:1.6;font-family:"Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","微软雅黑","黑体",Arial,sans-serif;color:#222;}
textarea,input{color:#222}
textarea::-webkit-input-placeholder,input::-webkit-input-placeholder{color:#a3a3a3}
textarea:-moz-placeholder,input:-moz-placeholder{color:#a3a3a3}
textarea::-moz-placeholder,input::-moz-placeholder{color:#a3a3a3}
textarea:-ms-input-placeholder,input:-ms-input-placeholder{color:#a3a3a3}
textarea{resize:none;overflow-y:auto}
a{color:#459ae9;text-decoration:none}
a:hover{text-decoration:underline}
button,input,select,textarea{*font-family:"Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","微软雅黑","黑体",Arial,sans-serif}
/**/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1;}
.fl{float:left;display:inline-block;*display:inline;}
.fr{float:right;display:inline-block;*display:inline;}
.w1200{width: 1200px;margin-left: auto;margin-right: auto;}
.dpib{display: inline-block;vertical-align: bottom;margin-right: 8px;}
/* but */


button.btn{height:32px;line-height:28px}
.btn button{display:block;height:100%;background-color:transparent;border:0;outline:0;overflow:visible;padding:0 22px}
.btn.btn_input{padding:0}
.btn.btn_input.btn_vcode{margin-left:5px}
.btn.btn_input.btn_vcode button{width:110px;padding:0}
.btn.btn_vcode{padding:0;width:110px;margin-left:5px}
.btn{
	display:inline-block;
	overflow:visible;
	padding:0 22px;
	height:30px;
	line-height:30px;
	*line-height:28px;
	vertical-align:middle;
	text-align:center;
	text-decoration:none;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	font-size:14px;
	border-width:1px;
	border-style:solid;
	cursor:pointer;
    margin-left: 10px;
}
.btn:hover{text-decoration:none}
.btn.btn_mini{height:21px;line-height:21px;*line-height:19px;padding:0 10px}
.btn.btn_small{height:25px;line-height:25px;*line-height:23px;padding:0 12px}
.btn.btn_large{height:38px;line-height:38px;*line-height:36px;padding:0 70px}
.btn.btn_p20{padding:0 20px}.btn.btn_p30{padding:0 30px}
.btn.btn_w125{width:125px;padding:0}
.btn.btn_w150{width:150px;padding:0}
.btn.btn_w220{width:220px;padding:0}
.btn_default{
	background-color:#fff;
	background-image:-moz-linear-gradient(top,#fff 0,#fff 100%);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#fff));
	background-image:-webkit-linear-gradient(top,#fff 0,#fff 100%);
	background-image:-o-linear-gradient(top,#fff 0,#fff 100%);
	background-image:linear-gradient(to bottom,#fff 0,#fff 100%);
	border-color:#e6e7ec;color:#222
}
.btn_default button{color:#222}
.btn_default:hover{
	background-color:#e6e7ec;
	background-image:-moz-linear-gradient(top,#e6e7ec 0,#e6e7ec 100%);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#e6e7ec),to(#e6e7ec));
	background-image:-webkit-linear-gradient(top,#e6e7ec 0,#e6e7ec 100%);
	background-image:-o-linear-gradient(top,#e6e7ec 0,#e6e7ec 100%);
	background-image:linear-gradient(to bottom,#e6e7ec 0,#e6e7ec 100%);
	border-color:#dadbe0;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;color:#000;
}
.btn_default:hover button{color:#222}
.btn_warn{
	background-color:#f24d4d;
	background-image:-moz-linear-gradient(top,#f24d4d 0,#f24d4d 100%);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#f24d4d),to(#f24d4d));
	background-image:-webkit-linear-gradient(top,#f24d4d 0,#f24d4d 100%);
	background-image:-o-linear-gradient(top,#f24d4d 0,#f24d4d 100%);
	background-image:linear-gradient(to bottom,#f24d4d 0,#f24d4d 100%);
	border-color:#f24d4d;color:#fff
}
.btn_warn button{color:#fff}
.btn_warn:hover{
	background-color:#d43d3d;
	background-image:-moz-linear-gradient(top,#d43d3d 0,#d43d3d 100%);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#d43d3d),to(#d43d3d));
	background-image:-webkit-linear-gradient(top,#d43d3d 0,#d43d3d 100%);
	background-image:-o-linear-gradient(top,#d43d3d 0,#d43d3d 100%);
	background-image:linear-gradient(to bottom,#d43d3d 0,#d43d3d 100%);
	border-color:#d43d3d;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	color:#fff;
}
.btn_warn:hover button{color:#fff}
.btn_primary{
	background-color:#44b549;
	background-image:-moz-linear-gradient(top,#44b549 0,#44b549 100%);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#44b549),to(#44b549));
	background-image:-webkit-linear-gradient(top,#44b549 0,#44b549 100%);
	background-image:-o-linear-gradient(top,#44b549 0,#44b549 100%);
	background-image:linear-gradient(to bottom,#44b549 0,#44b549 100%);
	border-color:#44b549;
	color:#fff
}
.btn_primary button{color:#fff}
.btn_primary:hover{
	background-color:#2f9833;
	background-image:-moz-linear-gradient(top,#2f9833 0,#2f9833 100%);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#2f9833),to(#2f9833));
	background-image:-webkit-linear-gradient(top,#2f9833 0,#2f9833 100%);
	background-image:-o-linear-gradient(top,#2f9833 0,#2f9833 100%);
	background-image:linear-gradient(to bottom,#2f9833 0,#2f9833 100%);
	border-color:#2f9833;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;color:#fff;
}
.btn_primary:hover button{color:#fff}
.btn_disabled{
	background-color:#e6e7ec;
	background-image:-moz-linear-gradient(top,#e6e7ec 0,#e6e7ec 100%);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#e6e7ec),to(#e6e7ec));
	background-image:-webkit-linear-gradient(top,#e6e7ec 0,#e6e7ec 100%);
	background-image:-o-linear-gradient(top,#e6e7ec 0,#e6e7ec 100%);
	background-image:linear-gradient(to bottom,#e6e7ec 0,#e6e7ec 100%);
	border-color:#dadbe0;
	color:#a5a6aa;
	cursor:default;
}
.btn_disabled button{color:#a5a6aa;cursor:default}
.btn_disabled:hover{
	background-color:#e6e7ec;background-image:-moz-linear-gradient(top,#e6e7ec 0,#e6e7ec 100%);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#e6e7ec),to(#e6e7ec));
	background-image:-webkit-linear-gradient(top,#e6e7ec 0,#e6e7ec 100%);
	background-image:-o-linear-gradient(top,#e6e7ec 0,#e6e7ec 100%);
	background-image:linear-gradient(to bottom,#e6e7ec 0,#e6e7ec 100%);
	box-shadow:none;-moz-box-shadow:none;
	-webkit-box-shadow:none;
	border-color:#dadbe0;
	color:#a5a6aa;
}
.btn_disabled:hover button{color:#a5a6aa;cursor:default}
.btn_loading{
	background-color:#e6e7ec;
	background-image:-moz-linear-gradient(top,#e6e7ec 0,#e6e7ec 100%);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#e6e7ec),to(#e6e7ec));
	background-image:-webkit-linear-gradient(top,#e6e7ec 0,#e6e7ec 100%);
	background-image:-o-linear-gradient(top,#e6e7ec 0,#e6e7ec 100%);
	background-image:linear-gradient(to bottom,#e6e7ec 0,#e6e7ec 100%);
	border-color:#dadbe0;
	color:#a5a6aa;
	cursor:default;
	position:relative;
	padding-left:42px;
	padding-right:30px;
}
.btn_loading button{color:#a5a6aa;cursor:default}
.btn_loading:hover{
	background-color:#e6e7ec;
	background-image:-moz-linear-gradient(top,#e6e7ec 0,#e6e7ec 100%);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#e6e7ec),to(#e6e7ec));
	background-image:-webkit-linear-gradient(top,#e6e7ec 0,#e6e7ec 100%);
	background-image:-o-linear-gradient(top,#e6e7ec 0,#e6e7ec 100%);
	background-image:linear-gradient(to bottom,#e6e7ec 0,#e6e7ec 100%);
	box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;border-color:#dadbe0;color:#a5a6aa
}
.btn_loading:hover button{color:#a5a6aa;cursor:default}
.btn_loading button{position:relative;padding-left:42px;padding-right:30px}
.btn_loading i{
	position:absolute;top:50%;left:16px;
	margin-top:-8px;
	background:transparent url(/mpres/htmledition/common/images/icon/common/icon16_loading_light1e5b3a.gif) no-repeat 0 0;
	width:16px;height:16px;vertical-align:middle;display:inline-block
}
.btn{min-width:60px}
.btn.btn_input{min-width:104px}
.btn.btn_input button{width:100%}
.btn.btn_loading{min-width:32px}
.btn.btn_add i{margin-right:3px;margin-top:-2px;*margin-top:2px}
.btn.btn_add .add_gray:hover{background:url("/mpres/zh_CN/htmledition/comm_htmledition/style/base/base_z20273e.png") 0 -506px no-repeat}.btn.btn_disabled .add_white{background:url("/mpres/zh_CN/htmledition/comm_htmledition/style/base/base_z20273e.png") 0 -530px no-repeat}
.btn.btn_small{min-width:0}
